In [2]:
# import and preview a tab-separated database of all UN General Assembly Resolutions

import pandas as pd
data = pd.read_csv('UNVotes.tab', sep='\t')
data.head()

   rcid  ccode  session  member  vote Country               Countryname  year
0   3.0      2      1.0     1.0     1     USA  United States of America  1946
1   3.0     20      1.0     1.0     3     CAN                    Canada  1946
2   3.0     31      1.0     NaN     9     BHS                   Bahamas  1946
3   3.0     40      1.0     1.0     1     CUB                      Cuba  1946
4   3.0     41      1.0     1.0     1     HTI                     Haiti  1946

In [3]:
data.shape

(1099156, 8)

In [4]:
# preview a list of only votes cast by the USA

usa = data[data['Country'] == 'USA']
usa = usa.sort_values(['session', 'rcid'])
usa.head(50)

,rcid,ccode,session,member,vote,Country,Countryname,year
0,3.0,2,1.0,1.0,1,USA,United States of America,1946
197,4.0,2,1.0,1.0,3,USA,United States of America,1946
394,5.0,2,1.0,1.0,3,USA,United States of America,1946
591,6.0,2,1.0,1.0,3,USA,United States of America,1946
788,7.0,2,1.0,1.0,3,USA,United States of America,1946
985,8.0,2,1.0,1.0,3,USA,United States of America,1946
1182,9.0,2,1.0,1.0,1,USA,United States of America,1946
1379,10.0,2,1.0,1.0,1,USA,United States of America,1946
1576,11.0,2,1.0,1.0,1,USA,United States of America,1946
1773,12.0,2,1.0,1.0,1,USA,United States of America,1946
1970,13.0,2,1.0,1.0,3,USA,United States of America,1946
2167,14.0,2,1.0,1.0,3,USA,United States of America,1946
2364,15.0,2,1.0,1.0,3,USA,United States of America,1946
2561,16.0,2,1.0,1.0,2,USA,United States of America,1946
2758,17.0,2,1.0,1.0,1,USA,United States of America,1946
2955,18.0,2,1.0,1.0,3,USA,United States of America,1946
3152,19.0,2,1.0,1.0,1,USA,United States of America,1946
3349,20.0,2,1.0,1.0,1,USA,United States of America,1946
3546,21.0,2,1.0,1.0,1,USA,United States of America,1946
3743,22.0,2,1.0,1.0,3,USA,United States of America,1946
3940,23.0,2,1.0,1.0,1,USA,United States of America,1946
4137,24.0,2,1.0,1.0,1,USA,United States of America,1946
4334,25.0,2,1.0,1.0,1,USA,United States of America,1946
4531,26.0,2,1.0,1.0,3,USA,United States of America,1946
4728,27.0,2,1.0,1.0,1,USA,United States of America,1946
4925,28.0,2,1.0,1.0,1,USA,United States of America,1946
5122,29.0,2,1.0,1.0,1,USA,United States of America,1946
5319,30.0,2,1.0,1.0,1,USA,United States of America,1946
5516,31.0,2,1.0,1.0,1,USA,United States of America,1946
5713,32.0,2,1.0,1.0,1,USA,United States of America,1946
5910,33.0,2,1.0,1.0,1,USA,United States of America,1946
6107,34.0,2,1.0,1.0,1,USA,United States of America,1946
6304,35.0,2,1.0,1.0,1,USA,United States of America,1946
6501,36.0,2,1.0,1.0,2,USA,United States of America,1946
6698,37.0,2,1.0,1.0,3,USA,United States of America,1946
6895,38.0,2,1.0,1.0,1,USA,United States of America,1946
7092,39.0,2,1.0,1.0,3,USA,United States of America,1946
7289,40.0,2,1.0,1.0,1,USA,United States of America,1946
7486,41.0,2,1.0,1.0,3,USA,United States of America,1946
7683,42.0,2,1.0,1.0,3,USA,United States of America,1946
7880,43.0,2,1.0,1.0,1,USA,United States of America,1946
8077,44.0,2,1.0,1.0,1,USA,United States of America,1946
8274,45.0,2,1.0,1.0,1,USA,United States of America,1946
8471,46.0,2,2.0,1.0,1,USA,United States of America,1947
8668,47.0,2,2.0,1.0,1,USA,United States of America,1947
8865,48.0,2,2.0,1.0,1,USA,United States of America,1947
9062,49.0,2,2.0,1.0,3,USA,United States of America,1947
9259,50.0,2,2.0,1.0,3,USA,United States of America,1947
9456,51.0,2,2.0,1.0,3,USA,United States of America,1947
9653,52.0,2,2.0,1.0,1,USA,United States of America,1947

In [5]:
# store a short test sample of votes from the USA only

usa_votes = usa[['year', 'rcid', 'vote']].head(50)
usa_votes

      year  rcid  vote
0     1946   3.0     1
197   1946   4.0     3
394   1946   5.0     3
591   1946   6.0     3
788   1946   7.0     3
985   1946   8.0     3
1182  1946   9.0     1
1379  1946  10.0     1
1576  1946  11.0     1
1773  1946  12.0     1
1970  1946  13.0     3
2167  1946  14.0     3
2364  1946  15.0     3
2561  1946  16.0     2
2758  1946  17.0     1
2955  1946  18.0     3
3152  1946  19.0     1
3349  1946  20.0     1
3546  1946  21.0     1
3743  1946  22.0     3
3940  1946  23.0     1
4137  1946  24.0     1
4334  1946  25.0     1
4531  1946  26.0     3
4728  1946  27.0     1
4925  1946  28.0     1
5122  1946  29.0     1
5319  1946  30.0     1
5516  1946  31.0     1
5713  1946  32.0     1
5910  1946  33.0     1
6107  1946  34.0     1
6304  1946  35.0     1
6501  1946  36.0     2
6698  1946  37.0     3
6895  1946  38.0     1
7092  1946  39.0     3
7289  1946  40.0     1
7486  1946  41.0     3
7683  1946  42.0     3
7880  1946  43.0     1
8077  1946  44.0     1
8274  1946  45.0     1
8471  1947  46.0     1
8668  1947  47.0     1
8865  1947  48.0     1
9062  1947  49.0     3
9259  1947  50.0     3
9456  1947  51.0     3
9653  1947  52.0     1

In [6]:
# remove records of abstensions from countries who were not members of the UN at the time

member_votes = data[data['member'] == 1]
member_votes.head()

   rcid  ccode  session  member  vote Country               Countryname  year
0   3.0      2      1.0     1.0     1     USA  United States of America  1946
1   3.0     20      1.0     1.0     3     CAN                    Canada  1946
3   3.0     40      1.0     1.0     1     CUB                      Cuba  1946
4   3.0     41      1.0     1.0     1     HTI                     Haiti  1946
5   3.0     42      1.0     1.0     1     DOM        Dominican Republic  1946

In [7]:
# Prepare a small sample of votes cast by all countries in 1946 and part of 1947

test_votes = member_votes[['year', 'rcid', 'Countryname', 'vote']]
test_votes = test_votes[test_votes['rcid'] < 53]
test_votes

      year  rcid                                        Countryname  vote
0     1946   3.0                           United States of America     1
1     1946   3.0                                             Canada     3
3     1946   3.0                                               Cuba     1
4     1946   3.0                                              Haiti     1
5     1946   3.0                                 Dominican Republic     1
15    1946   3.0                                             Mexico     1
17    1946   3.0                                          Guatemala     1
18    1946   3.0                                           Honduras     1
19    1946   3.0                                        El Salvador     1
20    1946   3.0                                          Nicaragua     1
21    1946   3.0                                         Costa Rica     1
22    1946   3.0                                             Panama     1
23    1946   3.0                                           Colombia     1
24    1946   3.0                  Venezuela, Bolivarian Republic of     1
27    1946   3.0                                            Ecuador     1
28    1946   3.0                                               Peru     1
29    1946   3.0                                             Brazil     1
30    1946   3.0                   Bolivia (Plurinational State of)     1
31    1946   3.0                                           Paraguay     1
32    1946   3.0                                              Chile     1
33    1946   3.0                                          Argentina     1
34    1946   3.0                                            Uruguay     1
35    1946   3.0  United Kingdom of Great Britain and Northern I...     3
37    1946   3.0                                        Netherlands     3
38    1946   3.0                                            Belgium     1
39    1946   3.0                                         Luxembourg     3
40    1946   3.0                                             France     3
49    1946   3.0                                             Poland     1
52    1946   3.0                                     Czechoslovakia     1
61    1946   3.0                                         Yugoslavia     3
...    ...   ...                                                ...   ...
9702  1947  52.0                                             Poland     3
9705  1947  52.0                                     Czechoslovakia     3
9714  1947  52.0                                         Yugoslavia     3
9717  1947  52.0                                             Greece     1
9722  1947  52.0                                 Russian Federation     3
9726  1947  52.0                                            Ukraine     3
9727  1947  52.0                                            Belarus     3
9732  1947  52.0                                             Sweden     1
9733  1947  52.0                                             Norway     1
9734  1947  52.0                                            Denmark     1
9735  1947  52.0                                            Iceland     1
9749  1947  52.0                                            Liberia     3
9768  1947  52.0                                           Ethiopia     3
9775  1947  52.0                                       South Africa     1
9790  1947  52.0                         Iran (Islamic Republic of)     3
9791  1947  52.0                                             Turkey     1
9792  1947  52.0                                               Iraq     3
9793  1947  52.0                                              Egypt     1
9794  1947  52.0                               Syrian Arab Republic     3
9795  1947  52.0                                            Lebanon     3
9798  1947  52.0                                       Saudi Arabia     3
9799  1947  52.0                                Yemen Arab Republic     8
9806  1947  52.0                                        Afghanistan     2
9814  1947  52.0                          Taiwan, Province of China     3
9818  1947  52.0                                              India     3
9820  1947  52.0                                           Pakistan     3
9826  1947  52.0                                           Thailand     3
9833  1947  52.0                                        Philippines     3
9836  1947  52.0                                          Australia     1
9838  1947  52.0                                        New Zealand     1

[2764 rows x 4 columns]

In [8]:
def find_usa_vote(target_rcid):
    usa_vote = usa_votes[usa_votes['rcid'] == target_rcid]['vote']
    return usa_vote.iloc[0]
find_usa_vote(51)

3

In [9]:
test_votes['usa_vote'] = None
test_votes.head()

   year  rcid               Countryname  vote usa_vote
0  1946   3.0  United States of America     1     None
1  1946   3.0                    Canada     3     None
3  1946   3.0                      Cuba     1     None
4  1946   3.0                     Haiti     1     None
5  1946   3.0        Dominican Republic     1     None

In [10]:
test_votes.loc[1, 'usa_vote'] = 4
test_votes.head()

   year  rcid               Countryname  vote usa_vote
0  1946   3.0  United States of America     1     None
1  1946   3.0                    Canada     3        4
3  1946   3.0                      Cuba     1     None
4  1946   3.0                     Haiti     1     None
5  1946   3.0        Dominican Republic     1     None

In [11]:
find_usa_vote(4)

3

In [12]:
test_votes.at[1, 'usa_vote'] = find_usa_vote(4)
test_votes.head()

   year  rcid               Countryname  vote usa_vote
0  1946   3.0  United States of America     1     None
1  1946   3.0                    Canada     3        3
3  1946   3.0                      Cuba     1     None
4  1946   3.0                     Haiti     1     None
5  1946   3.0        Dominican Republic     1     None

In [13]:
# Create test database with the usa's vote stacked up next to each country's vote

test_votes['usa_vote'] = test_votes['rcid'].apply(find_usa_vote)
test_votes[test_votes['rcid'] == 51]

,year,rcid,Countryname,vote,usa_vote
9456,1947,51.0,United States of America,3,3
9457,1947,51.0,Canada,3,3
9459,1947,51.0,Cuba,2,3
9460,1947,51.0,Haiti,1,3
9461,1947,51.0,Dominican Republic,3,3
9471,1947,51.0,Mexico,2,3
9473,1947,51.0,Guatemala,2,3
9474,1947,51.0,Honduras,8,3
9475,1947,51.0,El Salvador,2,3
9476,1947,51.0,Nicaragua,3,3
9477,1947,51.0,Costa Rica,8,3
9478,1947,51.0,Panama,2,3
9479,1947,51.0,Colombia,2,3
9480,1947,51.0,"Venezuela, Bolivarian Republic of",2,3
9483,1947,51.0,Ecuador,2,3
9484,1947,51.0,Peru,2,3
9485,1947,51.0,Brazil,3,3
9486,1947,51.0,Bolivia (Plurinational State of),3,3
9487,1947,51.0,Paraguay,8,3
9488,1947,51.0,Chile,3,3
9489,1947,51.0,Argentina,3,3
9490,1947,51.0,Uruguay,3,3
9491,1947,51.0,United Kingdom of Great Britain and Northern I...,3,3
9493,1947,51.0,Netherlands,3,3
9494,1947,51.0,Belgium,3,3
9495,1947,51.0,Luxembourg,3,3
9496,1947,51.0,France,3,3
9505,1947,51.0,Poland,1,3
9508,1947,51.0,Czechoslovakia,1,3
9517,1947,51.0,Yugoslavia,1,3
9520,1947,51.0,Greece,3,3
9525,1947,51.0,Russian Federation,1,3
9529,1947,51.0,Ukraine,1,3
9530,1947,51.0,Belarus,1,3
9535,1947,51.0,Sweden,3,3
9536,1947,51.0,Norway,3,3
9537,1947,51.0,Denmark,3,3
9538,1947,51.0,Iceland,3,3
9552,1947,51.0,Liberia,1,3
9571,1947,51.0,Ethiopia,2,3
9578,1947,51.0,South Africa,3,3
9593,1947,51.0,Iran (Islamic Republic of),2,3
9594,1947,51.0,Turkey,3,3
9595,1947,51.0,Iraq,2,3
9596,1947,51.0,Egypt,2,3
9597,1947,51.0,Syrian Arab Republic,1,3
9598,1947,51.0,Lebanon,1,3
9601,1947,51.0,Saudi Arabia,2,3
9602,1947,51.0,Yemen Arab Republic,2,3
9609,1947,51.0,Afghanistan,1,3
9617,1947,51.0,"Taiwan, Province of China",2,3
9621,1947,51.0,India,1,3
9623,1947,51.0,Pakistan,1,3
9629,1947,51.0,Thailand,8,3
9636,1947,51.0,Philippines,2,3
9639,1947,51.0,Australia,3,3
9641,1947,51.0,New Zealand,3,3

In [14]:
test_votes['usa_vote'] = test_votes['rcid'].apply(find_usa_vote, axis=1)
test_votes

TypeError: find_usa_vote() got an unexpected keyword argument 'axis'

In [ ]:
test_dyads = pd.merge(test_votes,
                     usa_votes['vote'],
                     left_on=['rcid'],
                     right_on=['rcid'],
                     how='left')
test_dyads